.App {
  text-align: center;
  background-color: #CBC3E3;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.intuative-checkbox input[type="checkbox"],
.intuative-checkbox input[type="checkbox"]:checked {
  text-decoration: line-through;
}

