.App {
  text-align: left;
  background-color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  margin-left: 10px;
  margin-left: 20px;
  margin-top: 40px;
  background-color: #ffffff;
}

.MuiButton-outlined {
    background-color: blueviolet;
    background: #ffffff;
}

.MuiButton-outlined{
  position: relative;
  bottom: 8px;
  right: 16px;
}

.strikethrough {
  text-decoration: line-through;
}

p {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

button {
  position: absolute;
  top: 8px;
  right:  16px;
}