.App {
  background-color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: #ffffff;
}



.strikethrough {
  text-decoration: line-through;
}


.outlined {
  position: absolute;
  bottom: -100px;
  right: 16px;
  font-size: 18px;
}


p {
  position: absolute;
  bottom: -100px;
  left: 16px;
}

button {
  position: absolute;
  top: 8px;
  right:  16px;
}