.App {
  text-align: center;
  background-color: white;
  width: 30%;
  margin: 0 auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #ffffff;

}

.add-btn {
    background: #ffffff;
}

.clear-all-btn{
  position: absolute;
  bottom: 8px;
  right: 16px;
  
}

.strikethrough {
  text-decoration: line-through;
}

.remaining-tasks {
  position: absolute;
  bottom: 8px;
  left: 16px;
  display: inline;
  font-size: 18px;

}

button {
  position: absolute;
  top: 8px;
  right:  16px;
}

